<div class="">
  <form class="form-group" [formGroup]="user" (ngSubmit)="onSubmit()">

    <label for="name">Imię</label>
    <input type="text" class="form-control" id="name"
           formControlName="name" placeholder="Imię">

    <label for="surname">Nazwisko</label>
    <input type="text" class="form-control" id="surname"
           formControlName="surname" placeholder="Nazwisko">
    <label for="email">adres e-mail</label>
    <input type="email" class="form-control" id="email"
           formControlName="email" placeholder="email">

    <label for="phone">Numer telefonu</label>
    <input type="text" class="form-control" id="phone"
           formControlName="phone" placeholder="phone">
    <label for="password">Numer telefonu</label>
    <input type="password" class="form-control" id="password"
           formControlName="password" placeholder="password">
    <label for="pet">Zwierzę</label>
    <div class="" id="pet">
      <!-- Material checked -->

      <div class="form-check">
        <input type="radio" class="form-check-input" id="dog" value="dog" formControlName="pet">
        <label class="form-check-label" for="dog">Pies</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="cat" value="cat" formControlName="pet">
        <label class="form-check-label" for="cat">Kot</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="other" value="other" formControlName="pet">
        <label class="form-check-label"for="other">Inne</label>
      </div>
    </div>
    <div formGroupName="address">
      <label for="city">Miasto</label>
      <input type="text" class="form-control" id="city"
             formControlName="city" placeholder="city">
      <label for="street">Numer telefonu</label>
      <input type="text" class="form-control" id="street"
             formControlName="street" placeholder="password">
      <label for="building">Numer budynku</label>
      <input type="text" class="form-control" id="building"
             formControlName="building" placeholder="building">
      <label for="flatNo">Numer telefonu</label>
      <input type="flatNo" class="form-control" id="flatNo"
             formControlName="flatNo" placeholder="flatNo">
    </div>
    <div formGroupName="consents">
      <label for="newsletter">Zgoda na newsletter</label>
      <input type="checkbox" class="form-control" id="newsletter"
             formControlName="newsletter">
      <label for="sms">Zgoda na otrzymywanie sms'ow</label>
      <input type="checkbox" class="form-control" id="sms"
             formControlName="sms" [disabled]="!user.valid">
    </div>
    <!--  aktywne tylko przy podaniu numeru telefonu  -->
    <button type="submit" [disabled]="!user.valid">Submit</button>
  </form>
</div>
